<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Powered by python</h1>
      <p>Rendered by HTML and Typescripts</p>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-4">
        <img src="images/weather-icon.png" style="width: 30%" />
        <br />
        <a style="color: white" href="weather.html">
          <button class="btn btn-info" href="weather.html">Weather</button>
        </a>
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <img src="images/Unknown-1.png" style="width: 40%; padding: 5px" />
        <br />
        <a href="https://google.com" style="color: white">
          <button class="btn btn-warning" href="https://google.com">
            Google
          </button>
        </a>
      </div>
    </div>
  </div>
</body>
